:root {
    --gaps: 0.8em;
    --gel-height: 20em;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: calc(2.5 * var(--gaps));
    padding-right: calc(0.5 * var(--gaps));
    display: flex;
    flex-direction: row;
    gap: calc(1 * var(--gaps));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    user-select: none;
}

.left-pane {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.horz {
    display: flex;
    width: 100%;
    align-items: center;
    gap: calc(0.5 * var(--gaps));
}

.horz-narrow {
    display: flex;
    width: 100%;
    align-items: center;
    gap: calc(0.2 * var(--gaps));
}

.action-link {
    color: dodgerblue;
    text-decoration: 1px dashed underline;
    cursor: pointer;
}

input[type="radio"] {
    margin: 0.3em;
}

textarea {
    width: 100%;
    height: 16em;
    flex-grow: 1;
    resize: none;
    border-radius: 0.3em;
    border: 1px solid lightgray;
    padding: 0.2em;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 14pt;
}

input[type="text"] {
    font-size: 14pt;
    padding: 0.2em;
    border: 1px solid lightgray;
    border-radius: 0.3em;
}

.valid-re {
    background-color: #eeffee;
    border: 1px solid green !important;
}

.invalid-re {
    background-color: #ffdddd;
    border: 1px solid red !important;
}

select {
    width: 100%;
    padding: 0.2em;
    border-radius: 0.3em;
    border: 1px solid lightgray;
}

.re-box {
    display: flex;
    flex-direction: column;
    gap: calc(0.5 * var(--gaps));
    width: 8em;
}

.re-box .re-list {
    height: 8em;
    font-size: 12pt;
}

.re-box .re-eff {
    width: 100%;
    font-size: 14pt;
}

.clear-enzyme-btn {
    width: 1.2em;
    fill: gray;
    align-self: center;
    cursor: pointer;
}

.right-pane {
    height: 100%;
    width: 10em;
    display: flex;
    gap: 0.75em;
    align-items: center;
    justify-content: center;
}

#gel {
    height: var(--gel-height);
}

#gel-time {
    writing-mode: vertical-lr;
    height: calc(1.2 * var(--gel-height));
    padding: 0;
    margin: 0;
}

.gel-lane rect {
    transform: scaleY(-1);
}

#question-mark {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4pt;
}
